/* gallery display */
.employees {
  display: block;

}

.employees ul { list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

 }

.employees ul li { display: inline; }

.employees ul li a {
  display: block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.employees ul li a:hover {
  opacity: 1.0;
}

.employees ul li a img {
  border: 6px solid #e1d9ec;
}
/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/** uncomment to remove lightbox captions
 *
#lightbox-container-image-data-box {
  display: none !important;
}
 *
**/
