html {
  background-color: #FFFAFA;
}

.clearfix {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  font-weight: bold;
  margin-top: 0;
  font-size: 1.3em;
  text-transform: capitalize;
  font-weight: bolder;
}

.email,
.city {
  color: #808080;
  font-weight: bold;
}

.city {
  text-transform: capitalize;
}

.header h2 {
  color: #808080;
  font-family: verdana;
  padding-left: 3rem;
  margin-top: 30px;
}

/* gallery display */
.employees {

}

.employees ul { list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

 }

.employees ul li {
  display: inline-block;
  background-color: white;
  border-radius: 2.5%;
  border-style: solid;
  border-color: #C0C0C0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.employees ul li a {
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.employees ul li a:hover {
  opacity: 1.0;
}

.employees ul li a:link {
  text-decoration: none;
  color: black;
  font-family: arial;
}

img {
  overflow: hidden;

}

.employees ul li a img {
  border-radius: 50%;
  margin-right: 20px;
  position: absolute;
}

.employees ul li a p {
  display: block;
  margin-left: 45%;
  word-wrap: break-word;
  text-decoration: none;
}



/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/** uncomment to remove lightbox captions
 *
#lightbox-container-image-data-box {
  display: none !important;
}
 *
**/
