html {
  background-color: #FFF0F5;
}

.header {

}

.header h2 {
  color: #808080;
  font-family: verdana;
  padding-left: 40px;
}

/* gallery display */
.employees {
  display: block;

}

.employees ul { list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

 }

.employees ul li {
  display: inline-block;
  background-color: white;
  border-radius: 2.5%;
  border-style: solid;
  border-color: #C0C0C0;
}

.employees ul li a {
  display: block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.employees ul li a:hover {
  opacity: 1.0;
}

.employees ul li a img {
  border-radius: 50%;
}

.employees ul li a:link {
  text-decoration: none;
  color: black;
  font-family: arial;
}

/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/** uncomment to remove lightbox captions
 *
#lightbox-container-image-data-box {
  display: none !important;
}
 *
**/
